# DICTIONARIES

In [21]:
# Creating a Dictionary:

mydict = {'name':'Shaw', 'age':58, 'gender':'male'}

print(type(mydict))

<class 'dict'>

In [22]:
# Accesing the Keys and values from the dictionay:

mydict_keys = mydict.keys()  ## Extracting the keys fromt the dict.
mydict_values = mydict.values()  ## Extracting the Values fromt the dict.
mydict_items = mydict.items()   ## Extracting the Items fromt the dict.

print("Keys: ", mydict_keys, "\nValues: ", mydict_values)

Keys:  dict_keys(['name', 'age', 'gender'])
Values:  dict_values(['Shaw', 58, 'male'])

In [23]:
# Accesing the items from the dictionary:

for key, value in mydict.items():
    print("Keys: ", key)
    print("Values: ", value)

Keys:  name
Values:  Shaw
Keys:  age
Values:  58
Keys:  gender
Values:  male

In [24]:
# Accesing the items from the dictionary:
for item in mydict.items():
    print("Items: ", item)

Items:  ('name', 'Shaw')
Items:  ('age', 58)
Items:  ('gender', 'male')

In [25]:
# Reversing the items in the dictionary:

swapped_dict = {(value, key) for key, value in mydict.items()}
swapped_dict

{('Shaw', 'name'), ('male', 'gender'), (58, 'age')}

In [26]:
# Adding the element in the dictionary:

mydict['location'] = 'Bangalore'
print(mydict)

{'name': 'Shaw', 'age': 58, 'gender': 'male', 'location': 'Bangalore'}

In [27]:
# Creating the empty dictionary:

new_dict1 = {}
new_dict2 = {}

new_dict1['first'] = 1
new_dict2['second'] = 2
print(new_dict1, new_dict2)

{'first': 1} {'second': 2}

In [28]:
# Updating a dictionary with another dictionary:

student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}
student_info['city'] = 'New York'  ## Add a new key-value pair:

student_info

{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'New York'}

In [29]:
additional_info = {'city': 'Boston', 'marks': 95}
student_info.update(additional_info)

student_info

{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'Boston', 'marks': 95}

In [30]:
## Dictionary with multiple values for a key:

student = {'name': ['Shan', 'Sam', 'Ajith'], 'gender':['male', 'male', 'male']}
student

{'name': ['Shan', 'Sam', 'Ajith'], 'gender': ['male', 'male', 'male']}

In [31]:
student['name'][2] = 'Lucy'
student['gender'][2] = 'female'

student

{'name': ['Shan', 'Sam', 'Lucy'], 'gender': ['male', 'male', 'female']}

In [32]:
## Removal of a particular key 
student_info

{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'Boston', 'marks': 95}

In [33]:
student_info.pop('age')
student_info

{'name': 'Alice', 'grade': 'A', 'city': 'Boston', 'marks': 95}

In [34]:
# Using "popitem" to remove a key, value pair from a dict:

popped_items = student_info.popitem()
popped_items

('marks', 95)

In [35]:
# Using "del" to remove a key, value pair from a dict:
print(student_info)
del student_info['grade']
print(student_info)

{'name': 'Alice', 'grade': 'A', 'city': 'Boston'}
{'name': 'Alice', 'city': 'Boston'}

In [36]:
## Checking the "Keys", "Values" & "items" present in dict

student_info = {'Name': 'Alice', 'Age': 22, 'Grade': 'A'}
student_info['City'] = 'New York'  ## Add a new key-value pair:

student_info

{'Name': 'Alice', 'Age': 22, 'Grade': 'A', 'City': 'New York'}

In [37]:
# Checking age present in keys
print('age' in student_info)

False

In [38]:
additional_info1 = {'Last Name': 'Morgan'}
student_info.update(additional_info1)

print(student_info)

{'Name': 'Alice', 'Age': 22, 'Grade': 'A', 'City': 'New York', 'Last Name': 'Morgan'}

In [39]:
# Sorting of dict using the "sorted" method:

sorted_student_info = dict(sorted(student_info.items()))

print(sorted_student_info)

{'Age': 22, 'City': 'New York', 'Grade': 'A', 'Last Name': 'Morgan', 'Name': 'Alice'}

In [40]:
square_dict = {x:x**2 for x in range(1,6)}

print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
Keys = ['name', 'age', 'city']
values = ['John', 28, 'Chelsea']

In [60]:
emp = {"John": 4000, "Sam": 9000, "Max": 6800, "Paul": 8800, "Jack": 2800}

emp_key = emp.keys()
emp_values = emp.values()
emp_items = emp.items()

# Find the highest salary from the above dict:
highest_salary = max(emp_items)
print("The employee with highest salary is: ", highest_salary)

# Find the average of salary in the above dict:
average = sum(emp_values)/len(emp_values)
print(f"the average salary is: ", average)

# Identify and display the names of students who's salary is above a certain threshold:
threshold = 4000
above_threshold = [key for key, value in emp_items if value > 4000]
print("Employees who can earn more salary: ", above_threshold)

The employee with highest salary is:  ('Sam', 9000)
the average salary is:  6280.0
Employees who can earn more salary:  ['Sam', 'Max', 'Paul']

# SETS

In [73]:
#  Creating the sets:

num =np.random.randint(10, 100, 25)
num

array([97, 88, 77, 47, 87, 64, 30, 74, 75, 52, 92, 12, 64, 57, 36, 58, 86,
       50, 74, 91, 38, 93, 56, 68, 31])

In [74]:
print(len(num))

25

In [75]:
#  Creating the set using set()

num_set = set(num)
print(type(num_set))
print(num_set)

<class 'set'>
{12, 30, 31, 36, 38, 47, 50, 52, 56, 57, 58, 64, 68, 74, 75, 77, 86, 87, 88, 91, 92, 93, 97}

In [76]:
num_set1 = {18, 23, 10, 18, 28, 28, 15, 18, 21}
print(num_set1)

{18, 21, 23, 10, 28, 15}

In [78]:
# Addition of another set in exisiting set using update method:

num_set.update(num_set1)
print("Length of combined set: {} and \nThe combined set is {}". format(len(num_set), num_set))

Length of combined set: 29 and
The combined set is {10, 12, 15, 18, 21, 23, 28, 30, 31, 36, 38, 47, 50, 52, 56, 57, 58, 64, 68, 74, 75, 77, 86, 87, 88, 91, 92, 93, 97}

In [97]:
## SET OPERATIONS:

# Creating two new sets:

num_set2 = set(np.random.randint(10, 100, 25))
num_set3 = set(np.random.randint(10, 50, 25))

print("Set 1: ", num_set2)
print("Set 2: ", num_set3, f"\n")

print("Length of Set 1: ", len(num_set2))
print("Length of Set 2: ", len(num_set3))

Set 1:  {10, 11, 12, 18, 22, 23, 27, 30, 39, 43, 46, 58, 64, 66, 68, 69, 70, 76, 78, 84, 95}
Set 2:  {14, 18, 19, 20, 22, 26, 28, 29, 30, 32, 34, 35, 36, 39, 40, 42, 45, 46, 48, 49}

Length of Set 1:  21
Length of Set 2:  20

In [98]:
combined_set = num_set1 | num_set2
print("Number of elements in combined set: ", len(combined_set))

Number of elements in combined set:  24

In [100]:
print(num_set1.union(num_set2))

{64, 66, 68, 69, 70, 10, 11, 12, 76, 78, 15, 18, 84, 21, 22, 23, 27, 28, 30, 95, 39, 43, 46, 58}

In [99]:
# Intersection Operation:

common_elements = num_set1 & num_set2
common_elements

{10, 18, 23}

In [104]:
# Difference Operation:

difference_elements = num_set1 - num_set2
print(difference_elements)

print(num_set1.difference(num_set2))

{28, 21, 15}
{28, 21, 15}

Extra Exercise of Strings:

In [142]:
date = '21', 'Jan', '2023'
# Join method will help to join the elements:
'-'.join(date)

'21-Jan-2023'

In [147]:
str1 = "Indranil-Bokachoda"
firstname, lastname = str1.split('-')
print(str1)

print("\nFirst Name: {}, Last Name: {}".format(firstname,lastname))

Indranil-Bokachoda

First Name: Indranil, Last Name: Bokachoda

In [159]:
sen = "I love using cars for long drive# ! ~ ) &"
import string
print(string.punctuation)

len([ltr for ltr in sen if ltr not in string.punctuation + ' '])

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

26

In [160]:
len([ltr for ltr in sen if ltr.isalpha()])

26

# HANDS ON EXERCISE:

In [30]:
# You are provided with a dictionary containing employee names and their corresponding monthly salaries. 
employees = {
    "Bob": 4500, 
    "Max": 8500, 
    "Charlie": 6500, 
    "Alice": 9000
}

# Find and display the highest salary in the company. 
highest_salary = max(employees.values())
print("Highest Salary of an employee is:", highest_salary)

# Calculate and print the average salary of all employees. 
average_salary = sum(employees.values()) / len(employees.values())
print("The average salary of an employee is:", average_salary)

# Identify and display the names of employees who earn above a certain threshold (e.g., $5000). 
threshold = 5000
above_threshold = [name for name, salary in employees.items() if salary > threshold]
print("The employees above threshold amount is:", above_threshold)

# Sort and display the employee names in alphabetical order.
sorted_employees = sorted(employees.items())
print("The sorted-list is:", sorted_employees)

Highest Salary of an employee is: 9000
The average salary of an employee is: 7125.0
The employees above threshold amount is: ['Max', 'Charlie', 'Alice']
The sorted-list is: [('Alice', 9000), ('Bob', 4500), ('Charlie', 6500), ('Max', 8500)]

In [144]:
# You have a set representing students enrolled in a Computer Science course. 

cs_students = set(['CS_'+str(num) for num in np.random.randint(1000, 2000, 10)])
maths_student = set(['M_'+str(num) for num in np.random.randint(1000, 2000, 10)])
print("\nCS Students List:", cs_students)
print("\nMaths Students List:", maths_student)

# Update the set with students from the Mathematics course.
cs_students.update(maths_student)
print("\nNew Student List:", cs_students)

# Create a copy of the set. 
combined_students = cs_students.copy()
print("\nCombined Students List:", combined_students)

# Add a new student who just joined the course. 
cs_students.add('N-1249')
print("\nCS Student list after adding N_1249:", cs_students)

# Remove a student who dropped the course (handle the case where the student is not in the set). 
cs_students.discard('CS_1483')
print("\nCS Students List after removing CS_1483:", cs_students)

# Discard a student who is not actively participating (no error if the student is not present). 
cs_students.discard('M_1896')
print("\nCS Students List after Discarding M_1896:", cs_students)

# Clear all students from the set.
cs_students.clear()
print("\nCS Students List after Clearing:", cs_students)

CS Students List: {'CS_1114', 'CS_1392', 'CS_1684', 'CS_1270', 'CS_1644', 'CS_1653', 'CS_1295', 'CS_1294', 'CS_1562'}

Maths Students List: {'M_1360', 'M_1221', 'M_1930', 'M_1186', 'M_1741', 'M_1021', 'M_1857', 'M_1241', 'M_1310', 'M_1491'}

New Student List: {'M_1360', 'M_1930', 'M_1186', 'CS_1644', 'M_1741', 'M_1857', 'M_1241', 'CS_1295', 'CS_1294', 'CS_1562', 'M_1221', 'CS_1114', 'CS_1392', 'CS_1684', 'CS_1270', 'M_1021', 'CS_1653', 'M_1310', 'M_1491'}

Combined Students List: {'M_1360', 'M_1930', 'M_1186', 'CS_1644', 'M_1741', 'M_1857', 'M_1241', 'CS_1295', 'CS_1294', 'CS_1562', 'M_1221', 'CS_1114', 'CS_1392', 'CS_1684', 'CS_1270', 'M_1021', 'CS_1653', 'M_1310', 'M_1491'}

CS Student list after adding N_1249: {'M_1360', 'N-1249', 'M_1930', 'M_1186', 'CS_1644', 'M_1741', 'M_1857', 'M_1241', 'CS_1295', 'CS_1294', 'CS_1562', 'M_1221', 'CS_1114', 'CS_1392', 'CS_1684', 'CS_1270', 'M_1021', 'CS_1653', 'M_1310', 'M_1491'}

CS Students List after removing CS_1483: {'M_1360', 'N-1249', 'M_1930', 'M_1186', 'CS_1644', 'M_1741', 'M_1857', 'M_1241', 'CS_1295', 'CS_1294', 'CS_1562', 'M_1221', 'CS_1114', 'CS_1392', 'CS_1684', 'CS_1270', 'M_1021', 'CS_1653', 'M_1310', 'M_1491'}

CS Students List after Discarding M_1896: {'M_1360', 'N-1249', 'M_1930', 'M_1186', 'CS_1644', 'M_1741', 'M_1857', 'M_1241', 'CS_1295', 'CS_1294', 'CS_1562', 'M_1221', 'CS_1114', 'CS_1392', 'CS_1684', 'CS_1270', 'M_1021', 'CS_1653', 'M_1310', 'M_1491'}

CS Students List after Clearing: set()