### Pandas

In [1]:
# Pandas designed for data visualization and analysis:

# Offers powerful Data-Frame and series of data structure:

# Panda series:
# One dimention array-like data structure

In [37]:
# Creating a Pandas Series:

import pandas as pd
import numpy as np

In [38]:
l1 = np.random.randint(10,90,10)
print(type(l1))
print(l1)

<class 'numpy.ndarray'>
[75 24 41 31 34 30 51 77 83 73]

In [39]:
# Creating a panda series
s1 = pd.Series(l1)
print("Pandas Series from an array:\n",s1)
print("pandas Series Index: ", s1.index)

Pandas Series from an array:
 0    75
1    24
2    41
3    31
4    34
5    30
6    51
7    77
8    83
9    73
dtype: int32
pandas Series Index:  RangeIndex(start=0, stop=10, step=1)

In [40]:
s1[5]

30

In [41]:
s1[[0,3,5]]

0    75
3    31
5    30
dtype: int32

In [42]:
print(s1[:5],"\n")    # Using range operation
print(s1[2:8])

0    75
1    24
2    41
3    31
4    34
dtype: int32

2    41
3    31
4    34
5    30
6    51
7    77
dtype: int32

In [43]:
print(len(s1))

10

In [44]:
s1[s1>50]    # Subsetting elements using conditions

0    75
6    51
7    77
8    83
9    73
dtype: int32

In [45]:
s1[(s1<20) | (s1>50)]

0    75
6    51
7    77
8    83
9    73
dtype: int32

In [46]:
s1.min()   # Finding the minimum value

24

In [47]:
s1.mean()    # Finding the average value

51.9

In [48]:
print("Min: {}, Max: {}, Average: {}, STD: {}".format(s1.min(), s1.max(), s1.mean(), np.round(s1.std(), 2)))

Min: 24, Max: 83, Average: 51.9, STD: 22.88

In [52]:
# Finding the missing value count
s1.isna(), s1.isnull().sum()

(0    False
 1    False
 2    False
 3    False
 4    False
 5    False
 6    False
 7    False
 8    False
 9    False
 dtype: bool,
 0)

In [51]:
s1.mean()

51.9

In [119]:
# Replacing all the missing values with the average of the series:

my_idx = s1[s1.isna()].index 
s1[my_idx] = s1.median()
s1[my_idx]

Series([], dtype: int32)

In [120]:
s2 = pd.Series([10,15,12,16,21])
print(s2)

s3 = pd.Series([range(10,100,10)]) 
print(s3)

0    10
1    15
2    12
3    16
4    21
dtype: int64
0    (10, 20, 30, 40, 50, 60, 70, 80, 90)
dtype: object

In [121]:
# Creating a series

salary = pd.Series(np.array([15000,25000,45000,24000,34000]), index = np.arange(0,10,2))
print(salary)

0    15000
2    25000
4    45000
6    24000
8    34000
dtype: int32

### Custom indexing:

In [133]:
# Custom indexing:

sal_ind = pd.Series(np.random.randint(10000,100000, 10), index = ['N'+ str(i) for i in np.arange(10)])
sal_ind

N0    68576
N1    63230
N2    60776
N3    46397
N4    75364
N5    86077
N6    23429
N7    11915
N8    30644
N9    77236
dtype: int32

In [134]:
sal = sal_ind.sort_values()
sal

N7    11915
N6    23429
N8    30644
N3    46397
N2    60776
N1    63230
N0    68576
N4    75364
N9    77236
N5    86077
dtype: int32

In [135]:
sal_bonus = np.round(sal * .10)
sal_bonus

N7    1192.0
N6    2343.0
N8    3064.0
N3    4640.0
N2    6078.0
N1    6323.0
N0    6858.0
N4    7536.0
N9    7724.0
N5    8608.0
dtype: float64

In [136]:
# Salary after incerment(Bonus of 10%)
incl_sal = sal + sal_bonus

incl_sal.sort_values()

N7    13107.0
N6    25772.0
N8    33708.0
N3    51037.0
N2    66854.0
N1    69553.0
N0    75434.0
N4    82900.0
N9    84960.0
N5    94685.0
dtype: float64

In [137]:
salaries = sal_ind.copy(deep = True)

In [138]:
salaries.sort_values()

N7    11915
N6    23429
N8    30644
N3    46397
N2    60776
N1    63230
N0    68576
N4    75364
N9    77236
N5    86077
dtype: int32

In [139]:
np.round(salaries[salaries>=50000]*1.05, -2)

N0    72000.0
N1    66400.0
N2    63800.0
N4    79100.0
N5    90400.0
N9    81100.0
dtype: float64

In [140]:
np.round(salaries[salaries<50000]*1.1, -2)

N3    51000.0
N6    25800.0
N7    13100.0
N8    33700.0
dtype: float64

In [141]:
new_inc = pd.concat([np.round(salaries[salaries>50000]*1.05,-2), np.round(salaries[salaries<50000]*1.1, -2)])
new_inc

N0    72000.0
N1    66400.0
N2    63800.0
N4    79100.0
N5    90400.0
N9    81100.0
N3    51000.0
N6    25800.0
N7    13100.0
N8    33700.0
dtype: float64

In [131]:
# Creating student marks-list:

std_marks = pd.Series([450,292,435,298,478],
                     index = ['Anand','Akshay','Chetan','Vikram','Vivek'])
print(std_marks)

Anand     450
Akshay    292
Chetan    435
Vikram    298
Vivek     478
dtype: int64

In [132]:
std_marks.sort_values()

Akshay    292
Vikram    298
Chetan    435
Anand     450
Vivek     478
dtype: int64